{%extends "layout/header.html"%}
{%block content%}
<style media="screen">
@media print{
  body
{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 1em;
color: #333333;
margin-top: 2cm;
margin-right: 2cm;
margin-bottom: 1.5cm;
margin-left: 2cm
}

div#report {
  margin: 10px 10px 10px 10px;
  page-break-before: none;
  page-break-after: none;
  page-break-inside: avoid;
}
}
@page{size:auto; margin-bottom:5mm;}
</style>
<div class="container text-center">
  <div class="row">
    <button type="button" name="printButton" class="btn btn-primary btn-md pull-right" onclick="printContent('report');"><i class="fa fa-print fa-2x"></i>Print</button>
    <div id="report" class="print">
    <div class="text-center">
      <h3>Report Generation: Pressure Safety Valve</h3>
    </div>
    <div class="well col-md-12">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="col-md-4 text-center">EFCO Maschinenbau GmbH <br> Otto-Brenner-Str.5-7<br> 52353 Duren </td>
            <td class="col-md-4 text-center">Test Report Safety Valves</td>
            <td class="col-md-4 text-center"><strong>EFCO INDIA</strong> </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="text-left">
              Plant
            </td>
            <td>
            {{valve.plant}}
            </td>
            <td class="text-right">
              Certification Number
            </td>
            <td>
              {{valveTestCard.certificationNumber}}
            </td>
          </tr>
          <tr>
            <td class="text-left">
              Valve Type
            </td>
            <td>
              {{valve.valve_type}}
            </td>
            <td class="text-right">
              Creation Date
            </td>
            <td>
              {{valveTestCard.testDate}}
            </td>
          </tr>
          <tr>
            <td class="text-left">
              Valve No.
            </td>
            <td>
              {{valve.valve_id}}
            </td>
            <td class="text-right">
              Customer
            </td>
            <td>
              {{valve.customer}}
            </td>
          </tr>
          <tr>
            <td class="text-left">
              Rev No
            </td>
            <td>
              {{valve.rev_no}}
            </td>
            <td class="text-right">
              Application No
            </td>
            <td>
              {{valve.applicationNumber}}
            </td>
          </tr>
          <tr>
            <td class="text-left">
              Part No.
            </td>
            <td>
              {{valve.part_no}}
            </td>
            <td class="text-right">
              Manufacturer
            </td>
            <td>
              {{valve.manufacturer}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <p class="lead text-info">
          Test Status: Pass/Fail
        </p>
      </div>
      <legend>Technical data</legend>
      <table class="table table-bordered table-responsive">
        <tr>
          <td>
            DN Inlet(inch/mm) {{valveTechCard.dnInletUnit}}
          </td>
          <td>
            DN Outlet(inch/mm) {{valveTechCard.dnOutletUnit}}
          </td>
          <td>
            Set Pressure(bar/kgpercm2) {{valveTechCard.setPressureUnit}}
          </td>
          <td>
            Seat diameter(inch/mm)
          </td>
          <td>
            A/X measurement(inch/mm)
          </td>
        </tr>
        <tr>
        <td>{{valveTechCard.dnInlet}}</td>
        <td>{{valveTechCard.dnOutlet}}</td>
        <td>{{valveTechCard.setPressure}}</td>
        <td>{{valveTechCard.seatDiameter}}</td>
        <td>{{valveTechCard.axMeasurement}}</td>
        </tr>
      </table>
      <div class="col-md-6">
        <table class="table table-bordered table-responsive">
          <tbody>
            <tr>
              <td>
                Target Release Pressure
              </td>
              <td>
                {{targetPressure}}
              </td>
            </tr>
            <tr>
              <td>
                Actual Release Pressure
              </td>
              <td>
                {{actualReleasePressure}}
              </td>
            </tr>
            <tr>
              <td>
                  Test Medium
              </td>
              <td>
                {{valveTestCard.testMedium}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" style="page-break-after:always;">
        <table class="table table-bordered table-responsive">
          <tbody>
            <tr>
              <td>
                Target Release Pressure
              </td>
              <td>
                {{targetPressure}}
              </td>
            </tr>
            <tr>
              <td>
                Leakage
              </td>
              <td>
                Value
              </td>
            </tr>
            <tr>
              <td>
                Medium
              </td>
              <td>
                {{valveTestCard.testMedium}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <legend  class="text-left">Release Pressure and Seat Leakage Test</legend>
      <img src="http://localhost:5000/static/reports/releasePressure/rpImg.jpg" alt="Release Pressure Graph"/>

      <img  src="http://localhost:5000/static/reports/rpseatLeakage/slImg.jpg" alt="Seat Leakage Graph" style="height:340px;"/>
      <br><br>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              Comment
            </td>
            <td>
              Value
            </td>
            <td>
              Inspector
            </td>
            <td>
              {{valveTestCard.inspector}}
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>

            </td>
            <td>
              Test Date:
            </td>
            <td>
              {{valveTestCard.testDate}}
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>

            </td>
            <td>
              Location of test
            </td>
            <td>
              {{valveTestCard.testLocation}}
            </td>
          </tr>
          <tr>
          <td>
            Surveyor
          </td>
            <td>
              {{valveTestCard.surveyor}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  </div>
</div>
<script>
function printContent(el){
var restorePage = document.body.innerHTML;
var printContent = document.getElementById(el).innerHTML;
document.body.innerHTML = printContent;
window.print();
document.body.innerHTML = restorePage;
}
</script>
{% endblock %}
